@charset "utf-8";

.tbl-music-dif-1{
    color: #56a764;
}

.tbl-music-dif-2{
    color: #0074bf;
}

.tbl-music-dif-3{
    color: #d4ba23;
}

.tbl-music-dif-4{
    color: #c93a40;
}

.tbl-music-dif-5{
    color: #9460a0;
}

.searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}